@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@layer base {
  html {
    /* Standard is 16px. 90% of 16px is 14.4px */
    font-size: 14.4px;
  }
}

.custm-btm {
  height: 32px;
}

/* Remove default React Flow node styling to allow custom node design to shine */
.react-flow__node {
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.react-flow__node.selected {
  box-shadow: none !important;
}