-- Admin Dashboard Stats RPC
CREATE OR REPLACE FUNCTION get_admin_dashboard_stats()
RETURNS json
LANGUAGE plpgsql
SECURITY DEFINER
AS \$\$
DECLARE
    total_orgs bigint;
    total_workflows bigint;
    published_workflows bigint;
    review_processes bigint;
BEGIN
    -- Only admins can run this
    IF (SELECT role FROM public.profiles WHERE id = auth.uid()) != 'admin' THEN
        RAISE EXCEPTION 'Access denied';
    END IF;

    -- Count Organizations
    SELECT count(*) INTO total_orgs FROM public.tenants;

    -- Count Total Workflows
    SELECT count(*) INTO total_workflows FROM public.workflows;

    -- Count Published Workflows
    SELECT count(*) INTO published_workflows FROM public.workflows WHERE is_published = true;

    -- Count Review Processes (pending_review status)
    SELECT count(*) INTO review_processes FROM public.workflows WHERE status = 'pending_review';

    RETURN json_build_object(
        'total_orgs', total_orgs,
        'total_workflows', total_workflows,
        'published_workflows', published_workflows,
        'review_processes', review_processes
    );
END;
\$\$;
